/*custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/*for calling custom colors */
:root{
    --main-color: #fff;
    --orange: orange;
    --blue:#007bff;
    --blue-hover:#0056b3;
    --background:#222831;
    --teal:#00ADB5;
    --light-g:#393E46;
    --hover-g:#313640;


}
* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

html {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media (max-width:640px) {
    body{
        background-image: url('se bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    html, body {
        height: 100%;
        width: 100%;
    }
}


@media (max-width:375px) {
    body{
        background-image: url('se bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    html, body {
        height: 100%;
        width: 100%;
    }
}